<h4>Edit Product</h4>
<%= render "form.html",
    changeset: @changeset,
    conn: @conn,
    action: product_path(@conn, :update, @changeset.data),
    parent_product: @parent_product,
    brands: @brands,
    stock_locations: @stock_locations,
    themes: @themes
%>
