<div class="card container text-uppercase">
    <h4><a href="/roles">Users</a> / Edit User</h4>
    <hr/>
    <%= render "_form.html", changeset: @changeset,
      conn: @conn, action: user_path(@conn, :update, @user) %>
</div>
