<div class="list-container">
  <div class="row m-0 list-header">
    <div class="col-10 p-0">
      <h2>Variation Themes</h2>
    </div>
    <div class="col-2 p-0 float-right text-right">
     <%= link(raw("<i class='fas fa-plus'></i> Create New"), to: variation_theme_path(@conn, :new), class: "btn btn-primary")%>  
    </div> 
  </div>
  <div class="row m-0 list">
    <%= render_many @themes, AdminAppWeb.VariationThemeView, "_theme.html", conn: @conn, as: :theme %>
  </div>
</div>
