@import './custom/variables';
@import "font-awesome";

.sidebar {
  border-right: 1px solid $gray-400;
  height: 100vh;

  .nav {
    li {
      width: 100%;
      .nav-link {
        color: $gray-600;
        border-radius: 0;
        font-size: 14px;;
        color:#222;

        i {
          font-size: 1.4em;
          margin-right: .5em;
          color: $gray-600;
          color:#757575;
        }

        &:hover {
          background-color: $gray-300;
        }
      }
    }
  }

  .abnav {
    display:inline-block;
    position: absolute;
    top: 10px;
    z-index: 999;
    height: 100vh;
    background-color: $white;
  }
}