<html>
  <head>
    <%= csrf_meta_tag %>
  </head>
</html>

<div class="card container text-uppercase">
  <h4><a href="/payment_methods">Payment Method</a> / New Payment Method</h4>

  <%= form_for @changeset, payment_method_path(@conn, :create), fn f -> %>
    <%= select_input(f, :provider, providers(), "provider", id: "payment-provider",
          prompt: "Choose provider") %>
    <%= input(f, :name)%>
    <%= input(f, :description) %>
    <div id="preferences">
    </div>
    <%= checkbox_input(f, :active?, "Active") %>
    <%= checkbox_input(f, :live_mode?, "Live Mode") %>
    <%= submit "Submit", class: "btn btn-primary submit-btn" %>
    <%= link("Cancel", to: payment_method_path(@conn, :index), class: "btn btn-primary") %>
  <% end %>
</div>
