<div class="container">
  <table style="width: 100%;">
    <tr>
      <td style="width: 50%;">
        <h1>INVOICE</h1>
      </td>
      <td style="width: 50%; text-align: right;">
        <span style="font-weight: bolder;">CONTACT US :</span>
        <a href={get_support_url()}>Aviacommerce</a>
        <br />
        <span style="font-weight: bolder;">Email:</span>
        <%= get_support_email() %>
      </td>
    </tr>
  </table>
</div>
