<%= if length(@orders.list) == 0 do %>
  <p>No Orders to Show</p>
<% else %>
  <%= render_many @orders.list, AdminAppWeb.OrderView, "order_list_card.html", conn: @conn, as: :order %>
  <div class="order-pagination">
    <%= pagination_links(@conn, @orders, &order_path/3) %>
    <hr>
    <%= pagination_text(@orders) %>
    <%= get_params(@conn.params) %>
  </div>
<% end %> 