<div>
  <h1>Welcome to <a href=<%= get_docs_url() %>>Aviacommerce!</a></h1>
  To recover password click here:

  <%= link @token, 
    to: "#{@base_url}/password_recovery/?token=#{@token}"
  %>  
</div>