<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello AdminApp!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render "header.html" %>
    <%= render "flash.html", conn: @conn%>
    <%= render "main.html", view_module: @view_module, view_template: @view_template%>
    <%= render "footer.html" %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
