<div class="row m-0">
  <div class="col-sm-12 text-center">
    <%
      info = get_flash(@conn, "info")
      error = get_flash(@conn, "error")
    %>
    <%= if info do %>
      <div class="alert alert-info" role="alert"><%= info %></div>
    <% end %>
    <%= if error do %>
      <div class="alert alert-danger" role="alert"><%= error %></div>
    <% end %>
  </div>
</div>
