@import 'variables';
@import "switch";
@import "bootstrap";
@import "login";
@import "font-face";

body {
  font-family: "avia1" !important;

  .prealative {
    position: relative;
  }

  a {
    color: $main-sub-color;
  }

  .required {
    &:after {
      color: $red;
      content: "*";
      font-family: arial;
      font-size: 20px;
      position: absolute;
      margin-left: 4px;
      top: -5px;
    }
  }

  .list-group-item.active {

    background-color: $main-sub-color;
    border-color: $main-sub-color;
  }

  .btn-primary {
    background-color: $main-sub-color;
    font-size: .875em;
    color: $white;
    border-color: $main-sub-color;
    height: 38px;
    line-height: 1.4;
    padding: 8px 12px;

    &:hover {
      background-color: $btn-hover-color;
      font-size: .875em;
      border-color: $btn-hover-color;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .border-custom {
    border-radius: 3px;
    background-color: $white;
    border: 1px solid $bordercolor1;
    border-bottom-color: $bordercolor2
  }

  .btn-outline-secondary {
    border-color: $gray-102;
    color: $gray-500 - 45;
    font-weight: bold;

    &:hover {
      color: $gray-500 - 90;
      background-color: $gray-101;
      border-color: $gray-102;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
  .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
  .show>.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
  }

  .btn {
    border-radius: 3px;
    font-size: 14px;
  }

  .select2-container .select2-selection--single {
    height: 2.8rem;
  }

  .form-control,
  .select2-container .select2-selection--single {
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba($black, 0.05);
    transition: opacity 0.3s ease-out;
    border-color: rgba($black, 0.15);
    border-top-color: rgba($black, 0.2);
    border-style: solid;
    border-width: 1px;
    color: $main-sub-color;

    &:hover {
      border-color: $gray-500;
    }

    &:focus {
      border-color: rgba($black, 0.8);
      box-shadow: none;
    }
  }

  .card {
    @extend .py-3,
    .border-custom
  }

  .form-group.required {
    label::after {
      color: #f55753;
      content: "*";
      font-family: arial;
      font-size: 20px;
      position: relative;
      margin-left: 4px;
      top: -5px;
    }
  }

  .loader {
    background-image: url("/images/loader.svg");
    height: 30px;
    width: inherit;
    background-repeat: no-repeat;
    background-position: center;
  }


  .img-wrap {
    position: relative;
    font-size: 0;
  }

  .imgcol .col-3 {
    max-width: 150px;
  }

  .img-wrap .product-delete {
    position: absolute;
    top: 4px;
    right: 8px;
    z-index: 100;
    background-color: $white;
    padding: 5px 2px 2px;
    color: $black;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
  }

  .img-wrap img {
    width: 150px;
    height: 100px;
  }

  .img-wrap:hover .product-delete {
    opacity: 1;
  }
}

.sidebar {
  width: 256px;
  position: fixed;
  top: 0;

}

.main {
  margin-left: 256px;
  width: calc(100vw - 256px);
}

.nav {
  background-color: $white;

  a {
    padding: 9px 18px;

    .flag {
      display: table;
      width: 100%;

      .flag-img {
        padding-right: 12px;

        .icon {
          display: inline-block;
          fill: currentColor;
          height: 24px;
          vertical-align: middle;
          width: 24px;
        }
      }
    }

    .flag-body,
    .flag-img {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .navshophead {
    padding: 16px 11px;
    cursor: pointer;

    .shopdpdown {
      left: 10px !important;
      top: 20px !important;
      border: 1px solid $bordercolor1;
      border-top: 0 solid $bordercolor1;
      border-radius: 0;
      padding: 0px;

      a {
        border-top: 1px solid $bordercolor1;
        border-right: 0 solid $bordercolor1;
      }
    }

    .dropdown-toggle {
      padding: 3px;
      margin-bottom: 10px;

      span {
        display: inline-block;
        padding: 8px 7px;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        -webkit-font-smoothing: antialiased;
        font-family: "avia1" !important;
      }
    }
  }
}