@import 'variables';
@import "switch";
@import "bootstrap";
body {
  .select2-container .select2-selection--single {
    height: 2.8rem;
  }
  .form-control,
  .select2-container .select2-selection--single {
    padding: 0.5rem;
    border-radius: 0;
    transition: all 300ms;
    &:hover,
    &:focus {
      transform: translateY(-3px);
      @extend .shadow-sm;
    }
  }
  .card {
    @extend .p-5,
    .shadow-sm,
    .border,
    .border-light;
  }
  .btn, .badge {
    @extend .shadow;
  }
  .form-group.required {
    label::after {
      color: #f55753;
      content: "*";
      font-family: arial;
      font-size: 20px;
      position: relative;
      margin-left: 4px;
      top: -5px;
    }
  }
  .loader {
    background-image: url("/images/loader.svg");
    height: 30px;
    width: inherit;
    background-repeat: no-repeat;
    background-position: center;
  }

  #selectedProductImages img {
    max-width: 125px;
    max-height: 125px;
    float: left;
    margin-bottom:10px;
  }

  .img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
  }

  .img-wrap .product-delete {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
  }

  .img-wrap:hover .product-delete {
    opacity: 1;
  }

}
