@font-face {
  font-family: 'avia1';
  src: url('/fonts/avia1.eot');
  src: url('/fonts/avia1.eot') format('embedded-opentype'),
       url('/fonts/avia1.woff2') format('woff2'),
       url('/fonts/avia1.woff') format('woff'),
       url('/fonts/avia1.ttf') format('truetype'),
       url('/fonts/avia1.svg#avia1') format('svg');
}
