<h2 class="col">GENERAL SETTINGS</h2>
<%= form_for @changeset, @action, [as: :settings, id: "settings-form", method: @method, multipart: true], fn f -> %>
    
    <%= input f, :name %>
    <%= input f, :sender_mail %>
    <%= input f, :frontend_url %>
    <%= input f, :backend_url %>
    <%= input f, :seo_title %>
    <%= input f, :hosted_payment_url %>
    <%= input f, :currency %>
    <%= submit "Submit", class: "btn btn-primary"%>
<% end %>

