<%= render "_form.html", 
    changeset: @changeset,
    conn: @conn,
    general_configuration: @general_configuration,
    action: general_settings_path(@conn, :update, @general_configuration),
    method: "put" 
%>
