<div class="card container text-uppercase">
    <h4><a href="/roles">Permission</a> / Edit Permission</h4>
    <hr/>
    <%= render "_form.html", changeset: @changeset,
      conn: @conn, action: permission_path(@conn, :update, @permission) %>
</div>
