<div class="list-container">
 <div class="pt-3 pb-0 pr-3 pl-3 back"> <img src="/images/left-arrow.svg" width="20" height="20" class="d-inline-block align-top" alt=""> <a href="/permissions">Permissions</a> </div>
  <h4 class="p-3 m-0">Add Permission</h4>
 
  <div class="col-12">
    <div class="card col-12">
        <%= render "_form.html", changeset: @changeset,
          conn: @conn, action: permission_path(@conn, :create) %>
    </div>
  </div>
</div>
