<div class="card container text-uppercase">
    <h4>
        <a href="/stock_locations">Stock Locations</a> / Create Stock Location
        <%= link("delete", to: stock_location_path(@conn, :delete, @stock_location), method: :delete, data: [confirm: "Are you sure, you want to delete (#{@stock_location.name}) stock location"], class: "btn btn-danger float-right") %>
    </h4>
    <hr/>
    <%= render "_form.html", changeset: @changeset,
                             action: stock_location_path(@conn, :update, @stock_location) %>
</div>
